<div class="row">
    <div class="col-3">
        <input type="text" #myText>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="readText()">
            Read Text</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="addCss()">
            Add Css Text
        </button>
    </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="readSignal()">
          Read Signal Comp
        </button>
    </div>
</div>
<hr>
<!-- <div class="row">
    <div class="col-6">
        <app-signal></app-signal>
    </div>
</div> -->

<div #myDiv style="width: 200px; height: 200px;">
    Div 1
</div>