<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="getAllUsers()"> Load Users</button>
    </div>
     <div class="col-3">
        <button class="btn btn-success" (click)="getAllPhots()"> Load Phptos</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="getAllEnrollments()"> Load Enrollment</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            @for (item of userList; track $index) {
                <li>{{item.name}} - {{item.email}}</li>
            }
        </ul>
    </div>
     <div class="col-3">
        <ul>
            @for (item of photosList; track $index) {
                <li>{{item.url}} </li>
            }
        </ul>
    </div>
    <div class="col-6">
         <table class="table table-bordered table-sm">
            @for (item of enrollmentList; track $index) {
                <tr>
                    <td>{{item.fullName}}</td>
                    <td>{{item.enrollmentDate | date:'dd-MMM-yy'}}</td>
                    <td>{{item.batchName}}</td>
                    <td>{{item.mobileNumber}}</td>
                </tr>
            }
         </table>
    </div>
</div>