<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                User List
                <br>
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Full Name</label>
                            <input type="text" #name="ngModel" [(ngModel)]="newUserObj.fullName" name="fullName"
                                required minlength="4" class="form-control">
                            @if (name.touched || name.dirty) {
                            <div class="text-danger">
                                <!-- {{name.errors |json}}
                            <br>
                            =={{name.errors?.['required']}} -->
                                @if(name.errors?.['required']){
                                <span>This is Required</span>
                                } @else if (name.errors?.['minlength']) {
                                <span>Min 4 char Needed</span>
                                }
                            </div>
                            }

                        </div>
                        <div class="col-6">
                            <label for="">Email</label>
                            <input type="text" #email="ngModel" [(ngModel)]="newUserObj.emailId" name="emailId" required
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" class="form-control">
                            @if (email.touched || email.dirty) {
                            <div class="text-danger">
                                @if (email.errors?.['required']) {
                                <span>This is Required</span>
                                } @else if(email.errors?.['pattern']) {
                                <span>Email is Not valid</span>
                                }

                            </div>
                            }

                        </div>
                        <div class="col-6">
                            <label for="">UserName</label>
                            <input type="text" [(ngModel)]="newUserObj.userName" name="userName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Password</label>
                            <input type="text" [(ngModel)]="newUserObj.password" name="password" class="form-control">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary"  >Reset Form</button>
                        </div>
                        <div class="col-6 text-center">
                            =={{form.invalid}}
                            @if(newUserObj.userId ==0 ) {
                            <button class="btn btn-primary" [disabled]="form.invalid" (click)="onSaveUser(form)">Save
                                User</button>
                            } @else {
                            <button class="btn btn-warning" (click)="onUpdateUser()">Update User</button>
                            }


                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>