<app-alert [alertTitle]="'Error'" [alertSubTitle]="alertMesaage"></app-alert>
<br>
<app-progress-bar [progressWidth]="90"></app-progress-bar>
<br>
<app-tabs [tabList]="myTabList" (onTabChange)="getTabChange($event)"></app-tabs>
<br>
<br>
<div class="row">

    <div class="col-3">
        <app-my-button [btnType]="'primary'" (onBtnClick)="onSaveBtnClicked()" [btnText]="'Save User'"> </app-my-button>
    </div>
    <div class="col-3">
        <app-my-button [btnType]="'secondary'" (onBtnClick)="onUpdateBtnClicked()" [btnText]="'Update User'"> </app-my-button>
    </div>

    <div class="col-3">
        <app-my-list [isMultiple]="true" [listOfItems]="['Software Developlemnt','QA','Devops','Sales']"
            (onItemSelect)="getSelecteItem($event)"
        ></app-my-list>
    </div>
     <div class="col-3">
        <app-my-list [isMultiple]="false" [listOfItems]="['Software Developlemnt','QA','Devops','Sales']"
            (onItemSelect)="getSelecteItem($event)"
        ></app-my-list>
    </div>
</div>
<br>
<app-my-image [height]="'200'" [wdith]="'100'" [imgSrc]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYv7N-6goJmz2ZsYor3PG71ISvdBnolGxPzw&s'"></app-my-image>
<br>
<div class="row">
    @if (currentTab == 'Category List') {
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-success">
                Category List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Category Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of categoryList(); track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.categoryName}}</td>
                            <td>{{item.isActive}}</td>
                            <td>{{item.password}}</td>
                            <td>
                                <app-my-button [btnType]="'primary'" [btnText]="'Edit'" (onBtnClick)="onEdit(item)"></app-my-button>
                                 
                                <!-- <button (click)="onEdit(item)" class="btn btn-success">Edit</button>
                                <button (click)="onDeleteUser(item.userId)" class="btn btn-danger mx-2">Delete</button> -->
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    } @else {
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success">
                New Category
                <br>

            </div>
            <div class="card-body">
                <form [formGroup]="categoryForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Category Name</label>
                            <input type="text" formControlName="categoryName" class="form-control">
                            @if (categoryForm.controls['categoryName'].touched ||
                            categoryForm.controls['categoryName'].dirty) {
                            <div class="text-danger">
                                @if (categoryForm.controls['categoryName'].errors?.['required']) {
                                <span>This is Required</span>
                                } @else if(categoryForm.controls['categoryName'].errors?.['minlength']) {
                                <span>min 3 char needed</span>
                                }

                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Status</label>
                            <input type="checkbox" formControlName="isActive">
                        </div>

                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset Form</button>
                        </div>
                        <div class="col-6 text-center">

                            <button class="btn btn-success" [disabled]="categoryForm.invalid"
                                (click)="onSaveCetegory()">Save Category</button>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    }


</div>