<app-alert [alertTitle]="'Error'" [alertSubTitle]="alertMesaage"></app-alert>
<br>
<app-progress-bar [progressWidth]="90"></app-progress-bar>
<br>
    <app-tabs [tabList]="myTabList"></app-tabs>
<br>
<div class="row">
    <div class="col-8">

        <div class="card">
            <div class="card-header bg-success">
                Category List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Category Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of categoryList(); track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.categoryName}}</td>
                            <td>{{item.isActive}}</td>
                            <td>{{item.password}}</td>
                            <td>

                                <button (click)="onEdit(item)" class="btn btn-success">Edit</button>
                                <!-- <button (click)="onEdit(item)" class="btn btn-success">Edit</button>
                                <button (click)="onDeleteUser(item.userId)" class="btn btn-danger mx-2">Delete</button> -->
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Category
                <br>

            </div>
            <div class="card-body">
                <form [formGroup]="categoryForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Category Name</label>
                            <input type="text" formControlName="categoryName" class="form-control">
                            @if (categoryForm.controls['categoryName'].touched ||
                            categoryForm.controls['categoryName'].dirty) {
                            <div class="text-danger">
                                @if (categoryForm.controls['categoryName'].errors?.['required']) {
                                <span>This is Required</span>
                                } @else if(categoryForm.controls['categoryName'].errors?.['minlength']) {
                                <span>min 3 char needed</span>
                                }

                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Status</label>
                            <input type="checkbox" formControlName="isActive">
                        </div>

                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset Form</button>
                        </div>
                        <div class="col-6 text-center">

                            <button class="btn btn-success" [disabled]="categoryForm.invalid"
                                (click)="onSaveCetegory()">Save Category</button>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>